# Variáveis de ambiente
.env
.env.local
.venv

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.pyc
__pycache__/

# Docker volumes (se criados localmente)
.docker/

# Python
*.egg-info/
dist/
build/
.venv/